name: GitHub Farmer

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: shindonghwi/github-farmer@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          username: shindonghwi
